<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT gym ANY>
<!ATTLIST gym id ID #REQUIRED>
<!ELEMENT Home ANY>
<!ATTLIST Home id ID #REQUIRED>
<!ELEMENT master ANY>
<!ATTLIST master id ID #REQUIRED>
<!ELEMENT membership ANY>
<!ATTLIST membership id ID #REQUIRED>
<!ELEMENT trainer ANY>
<!ATTLIST trainer id ID #REQUIRED>
<!ELEMENT trainers ANY>
<!ATTLIST trainers id ID #REQUIRED>

]>
<root id="-1">
  <master id="1124" key="99519d94-fa19-4b17-bb97-dc978e79f517" parentID="-1" level="1" creatorID="0" sortOrder="4" createDate="2016-10-17T17:19:00" updateDate="2016-10-17T17:25:27" nodeName="Old School Gym" urlName="old-school-gym" path="-1,1124" isDoc="" nodeType="1123" creatorName="Malcolm McConaghy" writerName="Malcolm McConaghy" writerID="0" template="0" nodeTypeAlias="master">
    <hideInNavigation>1</hideInNavigation>
    <Home id="1063" key="581b1426-f930-4888-ad2f-cae5814666ce" parentID="1124" level="2" creatorID="0" sortOrder="1" createDate="2016-06-07T23:44:08" updateDate="2016-10-17T17:25:00" nodeName="Home" urlName="home" path="-1,1124,1063" isDoc="" nodeType="1060" creatorName="Malcolm McConaghy" writerName="Malcolm McConaghy" writerID="0" template="1056" nodeTypeAlias="Home">
      <siteTitle><![CDATA[OSG]]></siteTitle>
      <siteDescription><![CDATA[Old School Youth Academy]]></siteDescription>
      <description><![CDATA[<div id="wsb-element-0ba97fa3-cdac-4d5e-b427-ad414a851014" class="wsb-element-shape" data-type="element">
<div class="wsb-shape shape_dark customStyle "><span>The Old School Youth Academy has been formed to combat childhood inactivity and provide social outreach and cross community interaction. Focusing on the youth population between 14 to 17 years of age, we aim to create an all-inclusive environment where adolescents have access to fitness facilities and social programs free of charge.</span><span><br /><br />Exercise and fitness training has long been recognised as an excellent way of developing self-discipline and self-esteem. Exercise is also invaluable as a form of stress relief and anger management. Not to ignore the obvious health benefits of exercise in all age groups it is even more paramount to instil these habits In adolescents, as often the habits instilled in the teenage years continue in adulthood.</span></div>
</div>
<div id="wsb-element-00000000-0000-0000-0000-000517815284" class="wsb-element-text" data-type="element">
<div class="txt ">
<p><span>Parents, carers, and families, have the primary responsibility to influence and nurture young people through to adulthood.</span></p>
</div>
</div>]]></description>
      <header><![CDATA[The Old School Youth Academy]]></header>
      <jumbotronText><![CDATA[Old School Gym]]></jumbotronText>
      <jumbotronImage><![CDATA[1120]]></jumbotronImage>
      <jumbotronTagline><![CDATA[We train champions]]></jumbotronTagline>
    </Home>
    <gym id="1091" key="c07ac662-0102-497b-b5b7-16753699a552" parentID="1124" level="2" creatorID="0" sortOrder="2" createDate="2016-10-13T15:17:28" updateDate="2016-10-24T13:41:25" nodeName="Gym" urlName="gym" path="-1,1124,1091" isDoc="" nodeType="1090" creatorName="Malcolm McConaghy" writerName="Malcolm McConaghy" writerID="0" template="1133" nodeTypeAlias="gym">
      <hideInNavigation>0</hideInNavigation>
      <header><![CDATA[Old School Gym]]></header>
      <description><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam efficitur ullamcorper urna sit amet dignissim. Aenean non libero a lacus dapibus sodales. Donec sed mi in metus ullamcorper eleifend in sit amet risus. In lobortis erat nunc, ac cursus diam consequat id. Nam nec leo sapien. Suspendisse potenti. Morbi vitae egestas sapien.]]></description>
    </gym>
    <membership id="1101" key="f0e2af20-dc7f-4d34-b7b5-ebf4e22e46c4" parentID="1124" level="2" creatorID="0" sortOrder="3" createDate="2016-10-13T15:25:28" updateDate="2016-10-27T15:13:37" nodeName="Membership" urlName="membership" path="-1,1124,1101" isDoc="" nodeType="1100" creatorName="Malcolm McConaghy" writerName="Malcolm McConaghy" writerID="0" template="1134" nodeTypeAlias="membership">
      <hideInNavigation>0</hideInNavigation>
      <membershipInfo><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam efficitur ullamcorper urna sit amet dignissim. Aenean non libero a lacus dapibus sodales. Donec sed mi in metus ullamcorper eleifend in sit amet risus. In lobortis erat nunc, ac cursus diam consequat id. Nam nec leo sapien. Suspendisse potenti. Morbi vitae egestas sapien.</p>]]></membershipInfo>
      <header><![CDATA[Our Memberships]]></header>
    </membership>
    <trainers id="1102" key="17fe1f3d-f4bd-4577-8419-dfd1f9c50176" parentID="1124" level="2" creatorID="0" sortOrder="4" createDate="2016-10-13T15:25:50" updateDate="2016-10-27T15:17:23" nodeName="Trainers" urlName="trainers" path="-1,1124,1102" isDoc="" nodeType="1095" creatorName="Malcolm McConaghy" writerName="Malcolm McConaghy" writerID="0" template="1135" nodeTypeAlias="trainers">
      <hideInNavigation>0</hideInNavigation>
      <trainerDescription><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam efficitur ullamcorper urna sit amet dignissim. Aenean non libero a lacus dapibus sodales. Donec sed mi in metus ullamcorper eleifend in sit amet risus. In lobortis erat nunc, ac cursus diam consequat id. Nam nec leo sapien. Suspendisse potenti. Morbi vitae egestas sapien.]]></trainerDescription>
      <header><![CDATA[Our Trainers]]></header>
      <trainer id="1111" key="b9a785d9-ebfb-4498-bd39-e970311ca3be" parentID="1102" level="3" creatorID="0" sortOrder="1" createDate="2016-10-13T15:34:01" updateDate="2016-10-27T15:31:20" nodeName="Jonny" urlName="jonny" path="-1,1124,1102,1111" isDoc="" nodeType="1110" creatorName="Malcolm McConaghy" writerName="Malcolm McConaghy" writerID="0" template="0" nodeTypeAlias="trainer">
        <description><![CDATA[<p>Good gym instructor </p>
<p>Qualification</p>
<ul>
<li>Tiny in height</li>
<li>Ginger</li>
</ul>
<p>All round solid trainer</p>]]></description>
        <trainerName><![CDATA[Jonny Millar]]></trainerName>
        <image><![CDATA[1119]]></image>
      </trainer>
    </trainers>
  </master>
</root>