/*Set Color variables here*/

$colorGrey: #808080;
$colorBlueGrey: #ADB7C1;
$colorWhite: #fff;
$colorBlack: #000;
$colorDusty: #96858F;
$colorLavender: #6D7993;
$colorOvercast: #9099A2;
$colorPaper: #D5D5D5;