/*Set Color variables here*/
.jumboImage {
  height: 600px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }
  .jumboImage .jumboText {
    color: #fff;
    text-align: right;
    font-size: 70px;
    font-family: Bungee Inline, Arial, sans-serif;
    margin-top: 200px; }
  .jumboImage .jumboTagline {
    color: #fff;
    text-align: right;
    font-size: 70px;
    font-family: Oswald, Arial, sans-serif; }

.aboutSection {
  background-color: #f7f7f7; }
  .aboutSection .aboutTitle {
    color: #000;
    font-size: 40px;
    font-family: Bungee Inline, Arial, sans-serif;
    margin-top: 20px;
    margin-bottom: 20px; }
  .aboutSection .aboutContent {
    color: #000;
    text-align: left;
    font-size: 20px;
    font-family: Oswald, Arial, sans-serif;
    margin-bottom: 20px; }
  .aboutSection .fb-page {
    height: 350px;
    margin-bottom: 20px; }
    .aboutSection .fb-page iframe {
      width: 100%;
      height: 100%; }

.tileSection {
  background-color: #e3e3e3; }
  .tileSection .tileHeader {
    color: #000;
    font-size: 40px;
    font-family: Bungee Inline, Arial, sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center; }
    .tileSection .tileHeader a {
      color: #000; }
      .tileSection .tileHeader a:hover {
        text-decoration: none; }
  .tileSection .tileImage {
    margin-bottom: 40px; }
    .tileSection .tileImage img {
      width: 100%;
      height: 230px; }

.contactSection .contactHeader {
  color: #000;
  font-size: 40px;
  font-family: Bungee Inline, Arial, sans-serif;
  margin-top: 20px;
  margin-bottom: 20px; }

.contactSection .contactForm {
  margin-bottom: 30px;
  font-family: Oswald, Arial, sans-serif; }

.contactSection .map {
  width: 100%;
  height: 250px;
  margin-bottom: 30px; }
  .contactSection .map iframe {
    width: 100%;
    height: 100%; }

.coverPhoto {
  height: 300px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 70%;
  background-image: url(../images/sport-1235019_1920.jpg); }
  .coverPhoto .coverText {
    color: #fff;
    text-align: right;
    font-size: 70px;
    font-family: Bungee Inline, Arial, sans-serif;
    margin-top: 115px; }

.gymTitle {
  color: #000;
  font-size: 40px;
  font-family: Bungee Inline, Arial, sans-serif;
  margin-top: 20px;
  margin-bottom: 20px; }

.gymDesc {
  font-family: Oswald, Arial, sans-serif;
  margin-bottom: 30px; }

.gymPhotoContain {
  background-color: #e3e3e3; }

.trainerContain {
  font-family: Oswald, Arial, sans-serif; }
  .trainerContain .trainerImage {
    text-align: center; }
    .trainerContain .trainerImage img {
      width: 250px;
      height: 250px;
      border-radius: 140px;
      margin: 10px auto; }
  .trainerContain .trainerName {
    margin-top: 20px; }

/*Set Color variables here*/
/*Set Color variables here*/
.navbar {
  margin-bottom: 0 !important;
  background-color: #000000; }

.navbar-inverse .navbar-nav > li {
  padding: 0 20px; }

.navbar-inverse .navbar-nav > li > a {
  color: #fff;
  font-family: Oswald, Arial, sans-serif;
  font-size: 18px;
  font-weight: bold; }
  .navbar-inverse .navbar-nav > li > a:hover {
    color: #f71b1b; }

.navbar-inverse .navbar-brand {
  color: #fff;
  font-family: Oswald, Arial, sans-serif;
  font-size: 18px;
  font-weight: bold; }
  .navbar-inverse .navbar-brand:hover {
    color: #f71b1b; }

